{% extends "base.html" %}
{% block title %}Ceramic Hello World{% endblock %}
{% block content %}
<main>
  <div class="a">
	(<span class="a-arm">╯</span>°□°）<span class="a-arm">╯</span><span class="a-trajectory">︵</span> <span class="a-table">┻━┻</span>
  </div>
  <div class="b">
	(<span class="b-arm">╯</span>°□°）<span class="b-arm">╯</span> <span class="b-table">┻━┻</span> <span class="b-table">┻━┻</span> <span class="b-table">┻━┻</span> <span class="b-table">┻━┻</span>
	<br>
	┳━┳ &nbsp;&nbsp;&nbsp;&lt;<span class="b-wheel">⊗</span><span class="b-belt"><span class="b-realbelt">===============</span></span><span class="b-wheel">⊗</span>&gt;
  </div>
  <div class="c">
	<span class="c-person">(／‵Д′)／</span>~ <span class="c-table">╧╧</span>
  </div>
  <div class="d">
	<span class="d-table">┬─┬</span><span class="d-arm">ノ</span>(<span class="d-face">ಠ_ಠ</span><span class="d-arm">ノ</span>)
  </div>
  <div class="e">
	（<span class="e-arm">ノ</span>○Д○）<span class="e-arm">ノ</span><span class="e-trajectory1">＝</span><span class="e-trajectory2">＝</span><span class="e-trajectory3">＝</span><span class="e-table">┠</span>
  </div>
  <div class="f">
	<span class="f-r_table">┻━┻</span> <span class="f-trajectory">︵</span> <span class="f-arm">¯\</span>_༼ᴼل͜ᴼ༽_<span class="f-arm">/¯</span> <span class="f-trajectory">︵</span> <span class="f-l_table">┻━┻</span>
  </div>
  <div class="g">
	(<span class="g-arm">/¯</span>◡ ‿ ◡)<span class="g-arm">/¯</span> <span class="g-trajectory">~</span> <span class="g-table">┻━┻</span>
  </div>
  <div class="h">
	<span class="h-person">(</span><span class="h-arm">ノ</span><span class="h-person"><span class="h-face">#--</span>)</span><span class="h-arm">ノ</span><span class="h-board">＼</span><span class="h-marble1">。</span><span class="h-marble2">゜</span><span class="h-marble3">。</span>
  </div>
  <div class="i">
	<span class="i-t_arm">ノ</span>┬─┬<span class="i-t_arm">ノ</span> <span class="i-trajectory">︵</span> <span class="i-person">( <span class="i-arm">\</span><span class="i-face">o°o</span>)<span class="i-arm">\</span></span>
  </div>
</main>
<a class="twttr" href="javascript:window.open('https://twitter.com/j_kantner','_blank')" title="@j_kantner" rel="noopener"></a>
{% endblock %}
